<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuddyLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BuddyLogger.Properties.Settings>
            <setting name="MD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Parents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Methods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Placeables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vendors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Npc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Abilites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Equipment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Client" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Players" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Effects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullRun" serializeAs="String">
                <value>True</value>
            </setting>
        </BuddyLogger.Properties.Settings>
    </userSettings>
</configuration>